.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.info-icon {
    margin-right: 4px;
}

.claude-icon {
    margin-right: 1px;
}

code {
    color: #113db7;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 2px 3px;
}
